<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>51 map</title>
    <meta name="renderer" content="webkit">

    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css">


</head>
<body>

<div class="layui-container">
    <div class="layui-row layui-col-space5">
        <div class="layui-col-md8" style="margin-top: 10px">
            <div id="allmap" class="layui-tab-card" style="height:610px"></div>
        </div>
        <div class="layui-col-md4">
            <div class="layui-tab layui-tab-card" lay-filter="demo">
                <ul class="layui-tab-title">
                    <li lay-id="job_list" class="layui-this" onclick="backtoMao()">职位列表</li>
                    <li lay-id="job_pre">职位详情</li>
                </ul>
                <div class="layui-tab-content" style="height:550px;overflow-y: auto;overflow-x: hidden;">
                    <div class="layui-tab-item layui-show">

                        {% for job in job_list %}
                        <a href="#{{job.id}}" class="list_a">
                            <i class="layui-icon mark">&#xe658;</i>
                            <h3>{{ job.name }}</h3>
                            <aside>{{job.coname}}</aside>
                            <i class="list_i"></i>
                            <em>{{job.salaryname}}</em>
                        </a>
                        {% endfor %}
                    </div>
                    <div class="layui-tab-item">
				<pre>
				</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/static/layui/layui.js"></script>
<script type="text/javascript" src="/static/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=pLEABGl2IKdXA4ubEy48brPceCGGW2uM"></script>
<script type="text/javascript">
    var element;
    layui.use(['jquery', 'layer', 'form', 'element'], function () {
        var $ = layui.jquery
                , layer = layui.layer
                , form = layui.form;

        element = layui.element;

    });
    //marker 点击事件
    function pointClick() {
        var marker = this;
        var job_a = $("a.list_a[href='#" + marker.ba + "']");
        job_a.addClass("clicked_a");
        job_a.siblings().removeClass("clicked_a");
        element.tabChange("demo", "job_list");
        gotoMao(marker.ba);
    }
    // 编写自定义函数,创建标注
    function addMarker(point, ba) {
        var marker = new BMap.Marker(point);
        marker.ba = ba;
        marker.addEventListener("click", pointClick);
        map.addOverlay(marker);
    }
    // 百度地图API功能
    var map = new BMap.Map("allmap", {enableMapClick: false});    // 创建Map实例
    map.centerAndZoom(new BMap.Point(120.101838, 30.289734), 13);  // 初始化地图,设置中心点坐标和地图级别
    //添加地图类型控件
    map.addControl(new BMap.MapTypeControl({
        mapTypes: [
            BMAP_NORMAL_MAP,
            BMAP_HYBRID_MAP
        ]
    }));
    map.setCurrentCity("杭州");          // 设置地图显示的城市 此项是必须设置的
    map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放

    //增加marker
    $.get('/getpoint', function (data) {
        var obj = $.parseJSON(data);
        $.each(obj.data, function (i, m) {
            var point = new BMap.Point(m.lng, m.lat);
            addMarker(point, String(m.id))
        })
    });

    //返回定位到锚点
    function backtoMao() {
        id = (location.href.match(/#\d+/)[0] || "0").substr(1);
        if (id)
            gotoMao(id)
    }

    //定位到锚点
    function gotoMao(point) {
        var index = $("a.list_a").index($("a[href='#" + point + "']"));
        $('div.layui-tab-content').animate({
            scrollTop: 63 * index
        }, 500);
    }

    //点击事件
    $("div.layui-tab-item a").click(function () {
        var id = $(this).attr("href").substring(1);
        $(this).addClass("clicked_a");
        $(this).siblings().removeClass("clicked_a");

        $.get('/getjob', 'id=' + id, function (data) {
            var obj = $.parseJSON(data);
            $("pre").text(obj.comment);
            element.tabChange("demo", "job_pre");

        })
    });

    //marker hover 跳动
    $("div.layui-tab-item a").hover(function () {
        var id = $(this).attr("href").substring(1);
        $.each(map.getOverlays(), function (i, n) {
            if (n.ba == id) {
                n.setAnimation(BMAP_ANIMATION_BOUNCE);
                return false;
            }
        });
    }, function () {
        var id = $(this).attr("href").substring(1);
        $.each(map.getOverlays(), function (i, n) {
            if (n.ba == id) {
                n.setAnimation(null);
                return false;
            }
        });
    });


    $("a i.mark").click(function () {
        var that = this;
        $(that).hasClass("stared") ? $(that).removeClass("stared") : $(that).addClass("stared");

//$.post('','',function(){
//	$(that).css("color",color);
//})
        return false;
    })

</script>
</body>
</html>
